<p id="notice"><%= notice %></p>

<h1>Request <%= @request.id %></h1>

<p>
  <strong>Request Username:</strong>
  <%= @request.request_username %>
</p>


<p>
  <strong>Request phone (hidden for the owner):</strong>
  <%= @request.request_phone %>
</p>

<p>
  <%= link_to 'Call owner', client_path(username: @request.request_username, target: @request.space.username), target: '_blank' %>
</p>

<%= link_to 'Back', :back %>
